{
   "tabWidth": 3,
   "useTabs": false,
   "plugins": ["@shopify/prettier-plugin-liquid"],
   "overrides": [
      {
         "files": ["*.html", "*.liquid"],
         "options": {
            "parser": "liquid-html"
         }
      }
   ]
}
