@charset "utf-8";
/* CSS Document */

body{
background-color: #000000;
padding: 0;
    margin: 0;   
    width:100vw;
    height: 100vh; }

#container { 
 position: absolute;
 width: 93%;
 height: 87%;
 float: center;
 background: #110022;        
 border: 5px solid #AA00FF;
 border-radius: 25px; 
 text-align: left;
 margin: 3% 3% 3% 3%;   
 overflow: auto; 
 -ms-overflow-style: none;
 scrollbar-width: none;
 } 
 #container::-webkit-scrollbar { 
 display: none;
 } 



#mainContent { 
 position: relative;  
 margin: 0 0 0 25px;     
 padding: 0px 20px 20px 20px;  
 } 
 
 #videoEmbed {
	width: 448;
	position: relative;
	float: left;
	padding: 20px 20px 20px 20px;
 }
 #videoCollection {
	width: 1000px;
	margin: 0 auto;
	background: #110022;
 }
 
h1{
	font-family: Lucida, monospace;
	font-size: 80px;
	font-weight: bold;
	color: #FFFFFF;
}
	
h2{
	font-family: Lucida, monospace;
	font-size: 21px;
	font-weight: bold;
	color: #FFFFFF; }
	
p{
	font-family: Lucida, monospace;
	font-size: 16px;
	font-weight: normal;
	color: #FFFFFF; 
	}

a{
	font-family: Lucida, monospace;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #DD88FF;
	text-decoration: underline;
}
ol{
	font-family: Lucida, monospace;
	font-size: 12px;
	color: #FFFFFF;
}

ul{
	font-family: Lucida, monospace;
	font-size: 16px;
	color: #FFFFFF;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}