@charset "utf-8";
/* CSS Document */

body{
background-color: #000000;
padding: 0;
    margin: 0;   
    width:100vw;
    height: 100vh; }

#container { 
 position: absolute;
 width: 93%;
 height: 87%;
 float: center;
 background: #110022;     
 margin: 0 auto;     
 border: 5px solid #AA00FF;
 border-radius: 25px; 
 text-align: left;
 margin: 3% 3% 3% 3%;    
 } 


#mainContent { 
 position: relative;  
 margin: 0 0 0 25px;     
 padding: 0px 20px 20px 20px;  } 
 

 
h1{
	font-family: Lucida, monospace;
	font-size: 80px;
	font-weight: bold;
	color: #FFFFFF;
}
	
h2{
	font-family: Lucida, monospace;
	font-size: 21px;
	font-weight: bold;
	color: #FFFFFF; }
	
p{
	font-family: Lucida, monospace;
	font-size: 16px;
	font-weight: normal;
	color: #FFFFFF; 
	}

a{
	font-family: Lucida, monospace;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #DD88FF;
	text-decoration: underline;
}
ol{
	font-family: Lucida, monospace;
	font-size: 12px;
	color: #FFFFFF;
}

ul{
	font-family: Lucida, monospace;
	font-size: 16px;
	color: #FFFFFF;
}