---
layout: default
---
<h1 class="index-title">Blog Posts</h1>

{% for post in site.posts %}
   <div class="index-post">
      <time datetime="{{ post.date | date_to_xmlschema }}">
         <i>
            {{ post.date | date: '%d %B %Y' }}
         </i>
      </time>
      <a href="{{ post.url | relative_url }}">
         <h3>
            {{ post.title }}
         </h3>
      </a>
      {% if post.excerpt %}
         <p>
            {{ post.excerpt | strip_html | truncatewords: 30 }}
         </p>
      {% endif %}
   </div>
{% endfor %}
