:root {
   --primary: #5b4d41;
   --secondary: #988574;
   --background: #ffead2;
   --background-secondary: #ffe5c8;
   --link: #315f81;
   --visited: #7a5258;
}

/* Reset */
* {
   box-sizing: inherit;
}

html {
   box-sizing: border-box;
   height: 100%;
   scrollbar-gutter: stable;
}

body {
   display: grid;
   grid-template-rows: 1fr auto;
   min-height: 100%;
   margin: 0;
   font-family: Georgia, "Times New Roman", Times, serif;
   line-height: 1.4;
   letter-spacing: 0.02em;
   color: var(--primary);
   background-color: var(--background);
}

iframe {      
   display: block;
   width: 100%;
   border: none;
   height: 84vh;
}

a:link {
   color: var(--link);
}

a:visited {
   color: var(--visited);
}

/* Layout */
header {
   display: flex;
}

main {
   width: calc(100% - 32px);
   justify-self: center;
   max-width: 900px;
   margin: 16px;
}

footer {
   padding: 8px;
   border-top: 1px solid var(--secondary);
}

/* Components */
article h2 {
   border-bottom: 1px solid var(--secondary);
}

blockquote {
   background-color: var(--background-secondary);
   border: 1px solid var(--secondary);
   margin: 0px;
   padding: 0 14px;
}

article img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
   max-width: 100%;
}

article img + em {
   text-align: center;
   display: block;
   margin-top: 5px;
   margin-bottom: 20px;
}

.header-images {
   display: flex;
   flex-direction: column;
   align-items: start;
   text-decoration: none;
}

.world-cat {
   display: flex;
   align-items: start;
}

.site-links {
   display: flex;
   flex: 1;
   justify-content: space-evenly;
   align-items: center;
}

.site-links h3 {
   margin-bottom: 6px;
}

.index-title {
   margin-bottom: 8px;
}

.post-header {
   margin-top: 24px;
}

.post-header h1 {
   margin-top: 0px;
}

.index-post {
   padding: 8px 0;
}

.index-post + .index-post {
   border-top: 1px solid var(--secondary);
}

.index-post h3 {
   margin-top: 2px;
   margin-bottom: 4px;
}

/* Small screens */
@media (max-width: 600px) {
   header {
      flex-direction: column;
   }
   iframe {
      height: 74vh;
   }
   .index-title {
      margin-top: 6px;
      margin-bottom: 0;
   }
   .about-title {
      margin-top: 6px;
      margin-bottom: 4px;
   }
   .post-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-top: 8px;
   }
   .post-header h1 {
      margin-bottom: 8px;
   }
   .header-images {
      align-items: center;
   }
   .cat {
      display: none;
   }
}
