<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" href="{{ '/images/cat.gif' | relative_url }}" type="image/gif">

      <title>
         {%- if page.title -%}
            {{ page.title }} | {{ site.title }}
         {%- else -%}
            {{ site.title }}
         {%- endif -%}
      </title>

      <link rel="stylesheet" href="{{ 'styles.css' | relative_url }}">

      {% seo %}
   </head>

   <body>
      <main>
         <header>
            <a href="{{ '/' | relative_url }}" class="header-images">
               <img src="/images/coles.png" />
               <div class="world-cat">
                  <img src="/images/world.png" />
                  <img src="/images/cat.gif" class="cat" />
               </div>
            </a>
            <div class="site-links">
               <a href="{{ '/' | relative_url }}"><h3>Blog</h3></a>
               <a href="{{ '/guestbook' | relative_url }}"><h3>Guestbook</h3></a>
               <a href="{{ '/about' | relative_url }}"><h3>About</h3></a>
            </div>
         </header>
         <article>
            {{ content }}
         </article>
      </main>

      <footer>
         <a href="{{ '/feed.xml' | relative_url }}">Subscribe via RSS</a>
      </footer>
   </body>
</html>
